.bookimage{
    width: 50%;
}
.imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headingBar h4{
    padding: 0.5rem;
    border-left: 5px solid purple;
    color: purple;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    font-style: italic;
    font-weight: 600;
}
.contentHeading{
    color: purple;
    font-weight: 600;
}
.contentDisplay{
    height:30vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-btn{
    color:rgb(70, 70, 247);
    border:2px solid rgb(70, 70, 247);
    background: transparent;
    font-style: italic;
    font-weight: 700;
    padding:0.2rem;
    border-radius: 6%;
}
.rate-btn{
     color:gold;
    border:2px solid gold;
    background: transparent;
    font-style: italic;
    font-weight: 700;
    padding:0.2rem;
    border-radius: 6%;
    text-shadow: 0.2px 0.2px black;
}
.statusColorGreen{
    color: green;
}
.statusColorRed{
    color: red;
}
.red-btn{
    color:red;
    border:2px solid red;
    background: transparent;
    font-style: italic;
    font-weight: 700;
    padding:0.2rem;
    border-radius: 6%;
}
.red-btn:hover{
    background: red;
    color: white;
}
.blue-btn:hover{
    background: rgb(70, 70, 247);
    color: white;
}
.rate-btn:hover{
    background: gold;
    color: white;
}