.mailForm form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border: 1px solid orange;
    border-radius: 1%;
    width: fit-content;
}
.contactHeading{
    color: purple;
    font-weight: 700;
    text-decoration: underline;
    width: 100%;
    margin-bottom: 0.5rem;
}
.mailForm form label{
    color: purple;
    font-weight: 700;
    margin-bottom: 0.2rem;
}
.mailForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mailForm a{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.mailForm form textarea{
    width:50vw;
}
.socialIcons{
    display: flex;
    flex-direction: row;
}
.icon i{
    border: 1px solid blue;
    border-radius: 50%;
    background-color: white;
    color: blue;
    padding: 0.5rem;
    font-size: large;
}
.icon .iconName{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}
.icon a{
    text-decoration: none;
    font-weight:700 ;
}
.instaIcon i{
    color: deeppink;
}
.whatsappIcon i{
    color:green;
}
.instaIcon i:hover{
    background: linear-gradient(315deg,blueviolet,deeppink,yellow);
    color: white;
} 
.whatsappIcon i:hover{
    background: linear-gradient(315deg,green);;
    color: white;
} 
.icon i:hover{
    background-color: blue;
    color: white;
} 
@media (max-width: 768px) {
    .mailForm form textarea{
    width:85vw;
}
}